<div class="modal fade" id="alert_box" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">注意事項</h4>
            </div>
            <div class="modal-body">
                <ol id="warning">
                    <li>此排課表<span class="text-danger">僅供學生個人排課參考</span>，正式選課請上
                        <a href="http://my.utaipei.edu.tw/utaipei/index_sky.html">台北市立大學校務系統</a>
                        進行線上加退選。
                    </li>
                    <li>本網站無須登入即可使用。</li>
                </ol>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="confirm_alert();" data-bs-dismiss="modal">
                    我已閱讀並同意
                </button>
            </div>
        </div>
    </div>
</div>
<script>
    // from bootstrap document
    let tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    let tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })

    let settings;
    (async () => {
        async function getSettings() {
            if (Cookies.get('settings') === undefined) {
                return new Promise(resolve => {
                    $.getJSON('api/settings', function (data) {
                        data.read = false;
                        Cookies.set('settings', JSON.stringify(data));
                        resolve(data);
                    });
                })
            } else {
                return JSON.parse(Cookies.get('settings'));
            }
        }

        settings = await getSettings()
        console.log(settings);

        if (!settings["read"]) {
            let myModal = new bootstrap.Modal($('#alert_box'));
            myModal.show();
        }
    })();

    function confirm_alert() {
        settings["read"] = true;
        Cookies.set('settings', JSON.stringify(settings));
    }
</script>