<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include "favicon.html" %}

    <title>Oops! 出錯了</title>
    {% include "metatags.html" %}
    {% include "font.html" %}
    <style>
        /* Show it is fixed to the top */
        body {
            padding-top: 4.5rem;
        }

        #warning li {
            padding-bottom: 0.5rem;
        }

        #warning li:last-child {
            padding-bottom: 0;
        }

        ._min_view100 {
            min-height: calc(100vh - 4.5rem);
        }
    </style>
</head>
<body>
{% include 'navbar.html' %}
<div class="text-center">
    <img alt="我是網站裡最可愛的可愛喵喵，是一隻可愛橘白喵喔" class="border border-3 rounded-circle border-danger"
         src="{{ url_for('static', filename="favicons/CatMeow.png") }}">
</div>
<div class="container _min_view100">
    <h1 class="text-center">
        {{ error.code }}
    </h1>
    <div class="row justify-content-md-center">
        {{ error.description }}
    </div>
</div>
{% include 'footerjs.html' %}
</body>
</html>