<meta name="description" content="以舒服的介面查詢課程、根據時間排出理想課表，選課不再頭疼~">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://utc.allen0099.tw/">
<meta property="og:type" content="website">
<meta property="og:title" content="臺北市立大學 - 排課幫手">
<meta property="og:description" content="以舒服的介面查詢課程、根據時間排出理想課表，選課不再頭疼~">
<meta property="og:image" content="https://raw.githubusercontent.com/allen0099/UTaipei_SelectHelper/master/static/meta.png">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="utc.allen0099.tw">
<meta property="twitter:url" content="https://utc.allen0099.tw/">
<meta name="twitter:title" content="臺北市立大學 - 排課幫手">
<meta name="twitter:description" content="以舒服的介面查詢課程、根據時間排出理想課表，選課不再頭疼~">
<meta name="twitter:image" content="https://raw.githubusercontent.com/allen0099/UTaipei_SelectHelper/master/static/meta.png">