<script>
    (() => {
        $.getJSON("{{ url_for("api.update_time") }}", function (data) {
            if (data.key !== "error") {
                let time = new Date(data.time + "+0000")
                $("#update_time").text("最後更新時間: " + time);
            }
        });
    })()
</script>
<script>
    function add_query(node) {
        let class_id = node.id;
        $.post("{{ url_for("api.add_query") }}", {"id": class_id})
            .done(() => {
                let op = $("#" + node.id);
                op.empty();
                op.append('<button type="button" class="btn btn-outline-secondary btn-sm" onclick="remove_query(this.parentNode)"><i class="bi bi-dash-lg"></i></button>');
            })
            .fail(() => {
                console.log(class_id + " not found");
            });
    }

    function remove_query(node) {
        let class_id = node.id;
        $.post("{{ url_for("api.remove_query") }}", {"id": class_id})
            .done(() => {
                let op = $("#" + node.id);
                op.empty();
                op.append('<button type="button" class="btn btn-outline-secondary btn-sm" onclick="add_query(this.parentNode)"><i class="bi bi-plus-lg"></i></button>');
            });
    }
</script>