<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>選課幫手 - 模擬排課表</title>
    {% include "font.html" %}
    <style>
        /* Show it is fixed to the top */
        body {
            padding-top: 4.5rem;
        }

        #warning li {
            padding-bottom: 0.5rem;
        }

        #warning li:last-child {
            padding-bottom: 0;
        }
    </style>
</head>
<body>
{% include 'navbar.html' %}
<div class="container min-vh-100">
    <div>
        <p id="title" class="text-center fs-2 lh-lg" style="color: var(--bs-purple)">
            台北市立大學 {{ year }} 學年度第 {{ semester }} 學期 - 模擬排課表
        </p>
    </div>
    <table class="table table-hover table-sm text-center table-bordered">
        <caption class="visually-hidden">Choose class table</caption>
        <thead class="table-danger text-center">
        <tr>
            <th scope="col" style="width: 5%">節次</th>
            <th scope="col" style="width: 15%">星期一</th>
            <th scope="col" style="width: 15%">星期二</th>
            <th scope="col" style="width: 15%">星期三</th>
            <th scope="col" style="width: 15%">星期四</th>
            <th scope="col" style="width: 15%">星期五</th>
            <th scope="col" style="width: 15%">星期六</th>
            <th scope="col" style="width: 5%">星期日</th>
        </tr>
        </thead>

        <tbody>
        {% for foo in range(14) %}
            <tr>
                <th scope="row">
                    {% set _hour_starttime = loop.index + 7 %}
                    {% set _hour_endtime = _hour_starttime + 1 %}
                    {{ '%02d' % loop.index }} / {{ '%02d' % _hour_starttime }}:10 - {{ '%02d' % _hour_endtime }}:00
                </th>
                {% set table_loop = loop %}
                {% for s in d_map %}
                    <td>
                        {% for time in times if time.time == table_loop.index|string and time.weekday == s %}
                            {{ time.class_id }}
                            <br>
                            {{ time.class_.chinese_name }}
                            {% if not loop.last %}
                                <br class="_br">
                            {% endif %}
                        {% else %}
                        {% endfor %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            {% set ns = namespace(len_cls = 0, points_count = 0) %}
            {% for cls in classes %}
                {% set ns.len_cls = ns.len_cls + 1 %}
                {% set ns.points_count = ns.points_count + cls.points|int %}
            {% endfor %}
            <td class="table" colspan="8">總共正課數: {{ ns.len_cls }}　　　總共學分數: {{ ns.points_count }}</td>
        </tr>
        </tfoot>
    </table>
</div>
{% include 'footerjs.html' %}
<script>
    (() => {
        $("._br").parent().addClass("text-danger");
    })();
</script>
</body>
</html>
